<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CachedHtmlFolder" value="C:\ProjectChabrier\CachedPages" />
    <add key="StringValue" value="C:\ProjectChabrier\CachedPages" />
    <add key="EmptyStringValue" value="" />
    <add key="IntValue" value="555" />
  </appSettings>
</configuration>